@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-neutral-950 duration-150 dark:bg-neutral-950 dark:text-neutral-200;
  }
}

[data-rehype-pretty-code-title] {
  @apply select-none border-b border-gray-700 bg-[#22272e] px-4 py-2 font-mono text-xs text-slate-300;
}

[data-rehype-pretty-code-fragment] {
  @apply mt-6 overflow-hidden rounded-lg;
}

.mdx > .steps:first-child > h3:first-child {
  @apply mt-0;
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute ml-[-50px] mt-[-4px] inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-white bg-neutral-200 text-center -indent-px font-mono text-base font-medium dark:border-neutral-950 dark:bg-neutral-800;
    content: counter(step);
  }
}

.mdx :not(pre) > code {
  @apply !mx-1 border border-neutral-700 bg-neutral-800 text-neutral-200;
}
